@tailwind base;
@tailwind components;
@tailwind utilities;

.sidemenu {
    width: 15%;
    background: #FFFFFF;
}

.App {
    width: 100vw;
    height: 100vh;
    background: #fff;
    color: #212121;
    font-family: "Open Sans", sans-serif;
    display: grid;
    place-items: center;
  }
  body {
    margin: 0%;
    padding: 0%;
  }
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");